<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Page</title>
</head>
<body>
    <h1>Mi primera página con Flask</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci fugit, praesentium velit ratione culpa amet repudiandae rerum ullam vitae! A iure suscipit quo quaerat dolorum quos eos cumque, fugit ex.
    </p>
</body>
</html>